.clearfix{
	border: 2px solid #D8D8D8;
	width: 75%;
	overflow: auto;
}
.a, .b, .c{
	width: 20%;
	height: 100px;
	float: left;
}
.a {
	background-color: #FFFF00;
}
.b {
	background-color: #3A81BA;
}
.c {
	background-color: #ED2251;
}